<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >NiosII|rst_controller|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >2</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|irq_mapper</TD>
<TD >3</TD>
<TD >31</TD>
<TD >2</TD>
<TD >31</TD>
<TD >32</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_004|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_004</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_003|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_003</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_002|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_002</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_001|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter_001</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|avalon_st_adapter</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux_001</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux|arb|adder</TD>
<TD >20</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux|arb</TD>
<TD >9</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_mux</TD>
<TD >493</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >103</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_demux_004</TD>
<TD >101</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >99</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_demux_003</TD>
<TD >101</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >99</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_demux_002</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_demux_001</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|rsp_demux</TD>
<TD >101</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >99</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_004</TD>
<TD >101</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_003</TD>
<TD >101</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_002|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_002|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_002</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux_001</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_mux</TD>
<TD >101</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_demux_001</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|cmd_demux</TD>
<TD >105</TD>
<TD >25</TD>
<TD >2</TD>
<TD >25</TD>
<TD >491</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_006|the_default_decode</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_006</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_005|the_default_decode</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_005</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_004|the_default_decode</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_004</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_003|the_default_decode</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_003</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_002|the_default_decode</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_002</TD>
<TD >96</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_001|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router_001</TD>
<TD >96</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router|the_default_decode</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|router</TD>
<TD >96</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|leds_s1_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|leds_s1_agent|uncompressor</TD>
<TD >30</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >28</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|leds_s1_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >42</TD>
<TD >39</TD>
<TD >282</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|switches_s1_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|switches_s1_agent|uncompressor</TD>
<TD >30</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >28</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|switches_s1_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >42</TD>
<TD >39</TD>
<TD >282</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|onchip_memory_s1_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|onchip_memory_s1_agent|uncompressor</TD>
<TD >30</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >28</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|onchip_memory_s1_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >42</TD>
<TD >39</TD>
<TD >282</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_jtag_debug_module_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_jtag_debug_module_agent|uncompressor</TD>
<TD >30</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >28</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_jtag_debug_module_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >42</TD>
<TD >39</TD>
<TD >282</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent_rsp_fifo</TD>
<TD >136</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >95</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent|uncompressor</TD>
<TD >30</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >28</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >42</TD>
<TD >39</TD>
<TD >282</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_instruction_master_agent</TD>
<TD >158</TD>
<TD >37</TD>
<TD >67</TD>
<TD >37</TD>
<TD >128</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_data_master_agent</TD>
<TD >158</TD>
<TD >37</TD>
<TD >67</TD>
<TD >37</TD>
<TD >128</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|leds_s1_translator</TD>
<TD >97</TD>
<TD >6</TD>
<TD >15</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|switches_s1_translator</TD>
<TD >97</TD>
<TD >6</TD>
<TD >15</TD>
<TD >6</TD>
<TD >36</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|onchip_memory_s1_translator</TD>
<TD >97</TD>
<TD >7</TD>
<TD >4</TD>
<TD >7</TD>
<TD >83</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_jtag_debug_module_translator</TD>
<TD >97</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >82</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|jtag_uart_avalon_jtag_slave_translator</TD>
<TD >97</TD>
<TD >5</TD>
<TD >16</TD>
<TD >5</TD>
<TD >70</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_instruction_master_translator</TD>
<TD >97</TD>
<TD >52</TD>
<TD >0</TD>
<TD >52</TD>
<TD >90</TD>
<TD >52</TD>
<TD >52</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0|nios2_processor_data_master_translator</TD>
<TD >98</TD>
<TD >12</TD>
<TD >0</TD>
<TD >12</TD>
<TD >90</TD>
<TD >12</TD>
<TD >12</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|mm_interconnect_0</TD>
<TD >231</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >237</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|switches</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory|the_altsyncram|auto_generated</TD>
<TD >49</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory</TD>
<TD >53</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >32</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_jtag_debug_module_wrapper|the_nios_system_nios2_processor_jtag_debug_module_sysclk</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_jtag_debug_module_wrapper|the_nios_system_nios2_processor_jtag_debug_module_tck</TD>
<TD >130</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_jtag_debug_module_wrapper</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_im</TD>
<TD >97</TD>
<TD >36</TD>
<TD >93</TD>
<TD >36</TD>
<TD >48</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_pib</TD>
<TD >39</TD>
<TD >20</TD>
<TD >38</TD>
<TD >20</TD>
<TD >19</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_fifo|the_nios_system_nios2_processor_oci_test_bench</TD>
<TD >36</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_fifo|the_nios_system_nios2_processor_nios2_oci_fifo_cnt_inc</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_fifo|the_nios_system_nios2_processor_nios2_oci_fifo_wrptr_inc</TD>
<TD >4</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_fifo|the_nios_system_nios2_processor_nios2_oci_compute_input_tm_cnt</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_fifo</TD>
<TD >151</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_dtrace|nios_system_nios2_processor_nios2_oci_trc_ctrl_td_mode</TD>
<TD >9</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_dtrace</TD>
<TD >99</TD>
<TD >0</TD>
<TD >88</TD>
<TD >0</TD>
<TD >72</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_itrace</TD>
<TD >25</TD>
<TD >17</TD>
<TD >23</TD>
<TD >17</TD>
<TD >87</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_dbrk</TD>
<TD >84</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >88</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_xbrk</TD>
<TD >49</TD>
<TD >5</TD>
<TD >46</TD>
<TD >5</TD>
<TD >6</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_break</TD>
<TD >52</TD>
<TD >36</TD>
<TD >6</TD>
<TD >36</TD>
<TD >71</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_avalon_reg</TD>
<TD >48</TD>
<TD >0</TD>
<TD >28</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_ocimem|nios_system_nios2_processor_ociram_sp_ram|the_altsyncram|auto_generated</TD>
<TD >47</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_ocimem|nios_system_nios2_processor_ociram_sp_ram</TD>
<TD >47</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_ocimem</TD>
<TD >92</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci|the_nios_system_nios2_processor_nios2_oci_debug</TD>
<TD >50</TD>
<TD >1</TD>
<TD >30</TD>
<TD >1</TD>
<TD >7</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_nios2_oci</TD>
<TD >149</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|nios_system_nios2_processor_register_bank_b|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|nios_system_nios2_processor_register_bank_b</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|nios_system_nios2_processor_register_bank_a|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|nios_system_nios2_processor_register_bank_a</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor|the_nios_system_nios2_processor_test_bench</TD>
<TD >258</TD>
<TD >3</TD>
<TD >224</TD>
<TD >3</TD>
<TD >33</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_processor</TD>
<TD >149</TD>
<TD >1</TD>
<TD >31</TD>
<TD >1</TD>
<TD >101</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r|rfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_r</TD>
<TD >13</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w|wfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart|the_nios_system_jtag_uart_scfifo_w</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart</TD>
<TD >38</TD>
<TD >10</TD>
<TD >23</TD>
<TD >10</TD>
<TD >34</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|leds</TD>
<TD >38</TD>
<TD >24</TD>
<TD >24</TD>
<TD >24</TD>
<TD >40</TD>
<TD >24</TD>
<TD >24</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
